node-red/flow-launchpad.txt
[{
    "id": "63ce7f09.407fc",
    "type": "button-in",
    "z": "b4d630f9.4ad6c",
    "name": "LaunchPad",
    "launchpad": "f022b57c.a75308",
    "xcoord": 0,
    "ycoord": 0,
    "allbuttons": true,
    "x": 150,
    "y": 80,
    "wires": [
        ["84030719.c16c98"]
    ]
}, {
    "id": "30b919b6.ee00f6",
    "type": "debug",
    "z": "b4d630f9.4ad6c",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 710,
    "y": 140,
    "wires": []
}, {
    "id": "4e290ef9.5fc7d",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "",
    "launchpad": "f022b57c.a75308",
    "xcoord": 0,
    "ycoord": 0,
    "allbuttons": true,
    "x": 330,
    "y": 440,
    "wires": []
}, {
    "id": "3d972041.4a7cc",
    "type": "inject",
    "z": "b4d630f9.4ad6c",
    "name": "Off",
    "topic": "",
    "payload": "off",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 150,
    "y": 440,
    "wires": [
        ["4e290ef9.5fc7d"]
    ]
}, {
    "id": "804396ea.a858f8",
    "type": "inject",
    "z": "b4d630f9.4ad6c",
    "name": "Red",
    "topic": "",
    "payload": "red",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 150,
    "y": 500,
    "wires": [
        ["25a11c34.5fe2d4", "cff4f92d.fe5e98"]
    ]
}, {
    "id": "25a11c34.5fe2d4",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "0x0",
    "launchpad": "f022b57c.a75308",
    "xcoord": 0,
    "ycoord": 0,
    "allbuttons": false,
    "x": 310,
    "y": 500,
    "wires": []
}, {
    "id": "1e4c4f73.cae431",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "0x1",
    "launchpad": "f022b57c.a75308",
    "xcoord": "0",
    "ycoord": "1",
    "allbuttons": false,
    "x": 310,
    "y": 560,
    "wires": []
}, {
    "id": "2b57f4a4.70e51c",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "1x0",
    "launchpad": "f022b57c.a75308",
    "xcoord": "1",
    "ycoord": 0,
    "allbuttons": false,
    "x": 430,
    "y": 500,
    "wires": []
}, {
    "id": "1a826a5e.4f8a36",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "1x1",
    "launchpad": "f022b57c.a75308",
    "xcoord": "1",
    "ycoord": "1",
    "allbuttons": false,
    "x": 430,
    "y": 560,
    "wires": []
}, {
    "id": "72f32af6.632984",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "1x2",
    "launchpad": "f022b57c.a75308",
    "xcoord": "1",
    "ycoord": "2",
    "allbuttons": false,
    "x": 430,
    "y": 620,
    "wires": []
}, {
    "id": "a6893f17.ef3ae",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "1x3",
    "launchpad": "f022b57c.a75308",
    "xcoord": "1",
    "ycoord": "3",
    "allbuttons": false,
    "x": 430,
    "y": 680,
    "wires": []
}, {
    "id": "84030719.c16c98",
    "type": "function",
    "z": "b4d630f9.4ad6c",
    "name": "Button Hub",
    "func": "var btn_x = msg.__launchpad.button.x;\nvar btn_y = msg.__launchpad.button.y;\nvar isPressed = msg.payload;\n\n\nmsg.payload = -1;\n\nif(isPressed == 1)\n{\n    \n    if(btn_x === 0)\n    {\n        // sleep/standby\n        if(btn_y === 0) msg.payload = \"0\";\n        else if(btn_y == 1) msg.payload = \"1\";\n    }\n    else if(btn_x == 1)\n    {\n        // Body - right/left/up/down\n        if(btn_y === 0) msg.payload = \"2\";\n        else if(btn_y == 1) msg.payload = \"3\";\n        else if(btn_y == 2) msg.payload = \"4\";\n        else if(btn_y == 3) msg.payload = \"5\";\n    }\n    else if(btn_x == 2)\n    {\n        // Arm - up/down\n        if(btn_y === 0) msg.payload = \"6\";\n        else if(btn_y === 1) msg.payload = \"7\";\n    }\n    else if(btn_x == 3)\n    {\n        // Hand - up/down\n        if(btn_y === 0) msg.payload = \"8\";\n        else if(btn_y == 1) msg.payload = \"9\";\n    }\n    else if(btn_x == 4)\n    {\n        // Gripper - open/close\n        if(btn_y === 0) msg.payload = \"o\";\n        else if(btn_y == 1) msg.payload = \"p\";\n    }\n    else if(btn_x == 8)\n    {\n        // Sequence Poses\n        if(btn_y === 0) msg.payload = \"z\";\n        else if(btn_y == 1) msg.payload = \"x\";\n        else if(btn_y == 2) msg.payload = \"c\";\n    }\n    /*\n    else if(btn_x == 6)\n    {\n        // Lightsaber standby\n        if(btn_y == 7) msg.payload = \",\";\n    }\n    else if(btn_x == 7)\n    {\n        // Lightsaber Side up\n        if(btn_y == 7) msg.payload = \".\";\n    }\n    */\n}\nelse\n{\n    // Release event to stop continuous moving\n    msg.payload = \"/\";\n}\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 350,
    "y": 80,
    "wires": [
        ["988dbf48.7b2a6"]
    ]
}, {
    "id": "f437c71d.140b38",
    "type": "serial out",
    "z": "b4d630f9.4ad6c",
    "name": "Robot-serial",
    "serial": "704ca14f.103cb",
    "x": 710,
    "y": 80,
    "wires": []
}, {
    "id": "4ff5a8a4.db6d18",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "2x0",
    "launchpad": "f022b57c.a75308",
    "xcoord": "2",
    "ycoord": 0,
    "allbuttons": false,
    "x": 550,
    "y": 500,
    "wires": []
}, {
    "id": "d823d440.11dc38",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "2x1",
    "launchpad": "f022b57c.a75308",
    "xcoord": "2",
    "ycoord": "1",
    "allbuttons": false,
    "x": 550,
    "y": 560,
    "wires": []
}, {
    "id": "9275b262.1d42c",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "3x1",
    "launchpad": "f022b57c.a75308",
    "xcoord": "3",
    "ycoord": "1",
    "allbuttons": false,
    "x": 670,
    "y": 560,
    "wires": []
}, {
    "id": "7eb1c492.06847c",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "3x0",
    "launchpad": "f022b57c.a75308",
    "xcoord": "3",
    "ycoord": 0,
    "allbuttons": false,
    "x": 670,
    "y": 500,
    "wires": []
}, {
    "id": "48fbfd40.ae3084",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "4x1",
    "launchpad": "f022b57c.a75308",
    "xcoord": "4",
    "ycoord": "1",
    "allbuttons": false,
    "x": 790,
    "y": 560,
    "wires": []
}, {
    "id": "6653475.2e09cb8",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "4x0",
    "launchpad": "f022b57c.a75308",
    "xcoord": "4",
    "ycoord": 0,
    "allbuttons": false,
    "x": 790,
    "y": 500,
    "wires": []
}, {
    "id": "6a7b3cc4.5b4584",
    "type": "inject",
    "z": "b4d630f9.4ad6c",
    "name": "Green",
    "topic": "",
    "payload": "green",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 150,
    "y": 540,
    "wires": [
        ["1e4c4f73.cae431", "a6893f17.ef3ae", "ab7d6b22.cea858", "d4dfa8d9.458a88", "72e9c6fc.9196f8", "2b57f4a4.70e51c", "1a826a5e.4f8a36", "72f32af6.632984", "4ff5a8a4.db6d18", "d823d440.11dc38", "7eb1c492.06847c", "9275b262.1d42c", "6653475.2e09cb8", "48fbfd40.ae3084"]
    ]
}, {
    "id": "a5805d83.5c849",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "6x6",
    "launchpad": "f022b57c.a75308",
    "xcoord": "6",
    "ycoord": "6",
    "allbuttons": false,
    "x": 1030,
    "y": 860,
    "wires": []
}, {
    "id": "a22a4ebe.a46de",
    "type": "comment",
    "z": "b4d630f9.4ad6c",
    "name": "LaunchPadControl",
    "info": "",
    "x": 170,
    "y": 40,
    "wires": []
}, {
    "id": "27bb3e34.c33922",
    "type": "comment",
    "z": "b4d630f9.4ad6c",
    "name": "LaunchPad Button Color Setup",
    "info": "",
    "x": 210,
    "y": 400,
    "wires": []
}, {
    "id": "5da9af6.e1b735",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "5x6",
    "launchpad": "f022b57c.a75308",
    "xcoord": "5",
    "ycoord": "6",
    "allbuttons": false,
    "x": 910,
    "y": 860,
    "wires": []
}, {
    "id": "468a2352.293a3c",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "5x0",
    "launchpad": "f022b57c.a75308",
    "xcoord": "5",
    "ycoord": 0,
    "allbuttons": false,
    "x": 910,
    "y": 500,
    "wires": []
}, {
    "id": "c0e58998.283aa8",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "6x0",
    "launchpad": "f022b57c.a75308",
    "xcoord": "6",
    "ycoord": 0,
    "allbuttons": false,
    "x": 1030,
    "y": 500,
    "wires": []
}, {
    "id": "d6f6bb59.48cbe8",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x0",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": 0,
    "allbuttons": false,
    "x": 1150,
    "y": 500,
    "wires": []
}, {
    "id": "bf0b157b.7e5518",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "5x1",
    "launchpad": "f022b57c.a75308",
    "xcoord": "5",
    "ycoord": "1",
    "allbuttons": false,
    "x": 910,
    "y": 560,
    "wires": []
}, {
    "id": "da41ccf0.bc042",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "6x1",
    "launchpad": "f022b57c.a75308",
    "xcoord": "6",
    "ycoord": "1",
    "allbuttons": false,
    "x": 1030,
    "y": 560,
    "wires": []
}, {
    "id": "cb817055.b5815",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x1",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": "1",
    "allbuttons": false,
    "x": 1150,
    "y": 560,
    "wires": []
}, {
    "id": "d888b662.b66738",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "0x2",
    "launchpad": "f022b57c.a75308",
    "xcoord": "0",
    "ycoord": "2",
    "allbuttons": false,
    "x": 310,
    "y": 620,
    "wires": []
}, {
    "id": "114cd998.d67e56",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "0x3",
    "launchpad": "f022b57c.a75308",
    "xcoord": "0",
    "ycoord": "3",
    "allbuttons": false,
    "x": 310,
    "y": 680,
    "wires": []
}, {
    "id": "1c700a23.2fb216",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "0x4",
    "launchpad": "f022b57c.a75308",
    "xcoord": "0",
    "ycoord": "4",
    "allbuttons": false,
    "x": 310,
    "y": 740,
    "wires": []
}, {
    "id": "4f7c71eb.f1b1b",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "0x5",
    "launchpad": "f022b57c.a75308",
    "xcoord": "0",
    "ycoord": "5",
    "allbuttons": false,
    "x": 310,
    "y": 800,
    "wires": []
}, {
    "id": "a73e197a.836398",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "0x6",
    "launchpad": "f022b57c.a75308",
    "xcoord": "0",
    "ycoord": "6",
    "allbuttons": false,
    "x": 310,
    "y": 860,
    "wires": []
}, {
    "id": "ed5f4c18.82291",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "0x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "0",
    "ycoord": "7",
    "allbuttons": false,
    "x": 310,
    "y": 920,
    "wires": []
}, {
    "id": "e025d459.d12518",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "1x4",
    "launchpad": "f022b57c.a75308",
    "xcoord": "1",
    "ycoord": "4",
    "allbuttons": false,
    "x": 430,
    "y": 740,
    "wires": []
}, {
    "id": "52021009.81632",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "1x5",
    "launchpad": "f022b57c.a75308",
    "xcoord": "1",
    "ycoord": "5",
    "allbuttons": false,
    "x": 430,
    "y": 800,
    "wires": []
}, {
    "id": "13e7cf3a.15eca1",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "1x6",
    "launchpad": "f022b57c.a75308",
    "xcoord": "1",
    "ycoord": "6",
    "allbuttons": false,
    "x": 430,
    "y": 860,
    "wires": []
}, {
    "id": "8be47afd.dbafb8",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "1x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "1",
    "ycoord": "7",
    "allbuttons": false,
    "x": 430,
    "y": 920,
    "wires": []
}, {
    "id": "42b44fb.c088db",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "2x2",
    "launchpad": "f022b57c.a75308",
    "xcoord": "2",
    "ycoord": "2",
    "allbuttons": false,
    "x": 550,
    "y": 620,
    "wires": []
}, {
    "id": "42a9508.3ad17b",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "2x3",
    "launchpad": "f022b57c.a75308",
    "xcoord": "2",
    "ycoord": "3",
    "allbuttons": false,
    "x": 550,
    "y": 680,
    "wires": []
}, {
    "id": "f924aba2.954f18",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "2x4",
    "launchpad": "f022b57c.a75308",
    "xcoord": "2",
    "ycoord": "4",
    "allbuttons": false,
    "x": 550,
    "y": 740,
    "wires": []
}, {
    "id": "b1a11e69.9205c",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "2x5",
    "launchpad": "f022b57c.a75308",
    "xcoord": "2",
    "ycoord": "5",
    "allbuttons": false,
    "x": 550,
    "y": 800,
    "wires": []
}, {
    "id": "8baa3357.2b889",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "2x6",
    "launchpad": "f022b57c.a75308",
    "xcoord": "2",
    "ycoord": "6",
    "allbuttons": false,
    "x": 550,
    "y": 860,
    "wires": []
}, {
    "id": "fbe8338b.d1774",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "2x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "2",
    "ycoord": "7",
    "allbuttons": false,
    "x": 550,
    "y": 920,
    "wires": []
}, {
    "id": "6f6222fa.03c71c",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "3x3",
    "launchpad": "f022b57c.a75308",
    "xcoord": "3",
    "ycoord": "3",
    "allbuttons": false,
    "x": 670,
    "y": 680,
    "wires": []
}, {
    "id": "c6d5a2dd.37fd",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "3x4",
    "launchpad": "f022b57c.a75308",
    "xcoord": "3",
    "ycoord": "4",
    "allbuttons": false,
    "x": 670,
    "y": 740,
    "wires": []
}, {
    "id": "ba9d0a38.245498",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "3x5",
    "launchpad": "f022b57c.a75308",
    "xcoord": "3",
    "ycoord": "5",
    "allbuttons": false,
    "x": 670,
    "y": 800,
    "wires": []
}, {
    "id": "db541047.3d97f",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "3x6",
    "launchpad": "f022b57c.a75308",
    "xcoord": "3",
    "ycoord": "6",
    "allbuttons": false,
    "x": 670,
    "y": 860,
    "wires": []
}, {
    "id": "193b55c5.3ac46a",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "3x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "3",
    "ycoord": "7",
    "allbuttons": false,
    "x": 670,
    "y": 920,
    "wires": []
}, {
    "id": "34b46f3d.492da",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "3x2",
    "launchpad": "f022b57c.a75308",
    "xcoord": "3",
    "ycoord": "2",
    "allbuttons": false,
    "x": 670,
    "y": 620,
    "wires": []
}, {
    "id": "fbe6b8bc.c496c8",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "4x2",
    "launchpad": "f022b57c.a75308",
    "xcoord": "4",
    "ycoord": "2",
    "allbuttons": false,
    "x": 790,
    "y": 620,
    "wires": []
}, {
    "id": "ddf34b3f.b1eb58",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "4x4",
    "launchpad": "f022b57c.a75308",
    "xcoord": "4",
    "ycoord": "4",
    "allbuttons": false,
    "x": 790,
    "y": 740,
    "wires": []
}, {
    "id": "d4f179b6.f43d08",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "4x3",
    "launchpad": "f022b57c.a75308",
    "xcoord": "4",
    "ycoord": "3",
    "allbuttons": false,
    "x": 790,
    "y": 680,
    "wires": []
}, {
    "id": "f465c1b8.e79af",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "4x5",
    "launchpad": "f022b57c.a75308",
    "xcoord": "4",
    "ycoord": "5",
    "allbuttons": false,
    "x": 790,
    "y": 800,
    "wires": []
}, {
    "id": "9a3d6e23.da8e1",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "4x6",
    "launchpad": "f022b57c.a75308",
    "xcoord": "4",
    "ycoord": "6",
    "allbuttons": false,
    "x": 790,
    "y": 860,
    "wires": []
}, {
    "id": "b8eb5fc1.fe224",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "4x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "4",
    "ycoord": "7",
    "allbuttons": false,
    "x": 790,
    "y": 920,
    "wires": []
}, {
    "id": "a6e4eb90.f22b68",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "5x2",
    "launchpad": "f022b57c.a75308",
    "xcoord": "5",
    "ycoord": "2",
    "allbuttons": false,
    "x": 910,
    "y": 620,
    "wires": []
}, {
    "id": "4db9b8c2.4b4aa8",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "5x4",
    "launchpad": "f022b57c.a75308",
    "xcoord": "5",
    "ycoord": "4",
    "allbuttons": false,
    "x": 910,
    "y": 740,
    "wires": []
}, {
    "id": "c2462443.8c98d8",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "5x3",
    "launchpad": "f022b57c.a75308",
    "xcoord": "5",
    "ycoord": "3",
    "allbuttons": false,
    "x": 910,
    "y": 680,
    "wires": []
}, {
    "id": "fd47f0ef.a2363",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "5x5",
    "launchpad": "f022b57c.a75308",
    "xcoord": "5",
    "ycoord": "5",
    "allbuttons": false,
    "x": 910,
    "y": 800,
    "wires": []
}, {
    "id": "205812d5.7f12ee",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "5x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "5",
    "ycoord": "7",
    "allbuttons": false,
    "x": 910,
    "y": 920,
    "wires": []
}, {
    "id": "1dd7d431.58d95c",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "6x2",
    "launchpad": "f022b57c.a75308",
    "xcoord": "6",
    "ycoord": "2",
    "allbuttons": false,
    "x": 1030,
    "y": 620,
    "wires": []
}, {
    "id": "2bc71c3a.283e74",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "6x4",
    "launchpad": "f022b57c.a75308",
    "xcoord": "6",
    "ycoord": "4",
    "allbuttons": false,
    "x": 1030,
    "y": 740,
    "wires": []
}, {
    "id": "609f14c5.c32aac",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "6x3",
    "launchpad": "f022b57c.a75308",
    "xcoord": "6",
    "ycoord": "3",
    "allbuttons": false,
    "x": 1030,
    "y": 680,
    "wires": []
}, {
    "id": "98c892cd.280ad",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "6x5",
    "launchpad": "f022b57c.a75308",
    "xcoord": "6",
    "ycoord": "5",
    "allbuttons": false,
    "x": 1030,
    "y": 800,
    "wires": []
}, {
    "id": "1a58804e.cadca",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "6x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "6",
    "ycoord": "7",
    "allbuttons": false,
    "x": 1030,
    "y": 920,
    "wires": []
}, {
    "id": "9b7196cc.0c3038",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x6",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": "6",
    "allbuttons": false,
    "x": 1150,
    "y": 860,
    "wires": []
}, {
    "id": "a54501ab.87992",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x2",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": "2",
    "allbuttons": false,
    "x": 1150,
    "y": 620,
    "wires": []
}, {
    "id": "865230ff.dfb56",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x4",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": "4",
    "allbuttons": false,
    "x": 1150,
    "y": 740,
    "wires": []
}, {
    "id": "b8b73e34.a71a6",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x3",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": "3",
    "allbuttons": false,
    "x": 1150,
    "y": 680,
    "wires": []
}, {
    "id": "e22e4c9a.aff4c",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x5",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": "5",
    "allbuttons": false,
    "x": 1150,
    "y": 800,
    "wires": []
}, {
    "id": "cff4f92d.fe5e98",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": "7",
    "allbuttons": false,
    "x": 1150,
    "y": 920,
    "wires": []
}, {
    "id": "187e18a4.d52907",
    "type": "inject",
    "z": "b4d630f9.4ad6c",
    "name": "Yellow",
    "topic": "",
    "payload": "yellow",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 150,
    "y": 580,
    "wires": [
        []
    ]
}, {
    "id": "9ba6374.58269c8",
    "type": "inject",
    "z": "b4d630f9.4ad6c",
    "name": "Orange",
    "topic": "",
    "payload": "orange",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 160,
    "y": 620,
    "wires": [
        []
    ]
}, {
    "id": "ab7d6b22.cea858",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "A (8x0)",
    "launchpad": "f022b57c.a75308",
    "xcoord": "8",
    "ycoord": 0,
    "allbuttons": false,
    "x": 1290,
    "y": 500,
    "wires": []
}, {
    "id": "d4dfa8d9.458a88",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "B (8x1)",
    "launchpad": "f022b57c.a75308",
    "xcoord": "8",
    "ycoord": "1",
    "allbuttons": false,
    "x": 1300,
    "y": 560,
    "wires": []
}, {
    "id": "72e9c6fc.9196f8",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "C (8x1)",
    "launchpad": "f022b57c.a75308",
    "xcoord": "8",
    "ycoord": "2",
    "allbuttons": false,
    "x": 1300,
    "y": 620,
    "wires": []
}, {
    "id": "40c7e867.2e2318",
    "type": "button-out",
    "z": "b4d630f9.4ad6c",
    "name": "7x7",
    "launchpad": "f022b57c.a75308",
    "xcoord": "7",
    "ycoord": "7",
    "allbuttons": false,
    "x": 550,
    "y": 260,
    "wires": []
}, {
    "id": "cfa1e270.76dad",
    "type": "function",
    "z": "b4d630f9.4ad6c",
    "name": "Green",
    "func": "msg.payload = \"green\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 240,
    "wires": [
        ["40c7e867.2e2318"]
    ]
}, {
    "id": "15f07a1f.b66506",
    "type": "function",
    "z": "b4d630f9.4ad6c",
    "name": "Red",
    "func": "msg.payload = \"red\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 280,
    "wires": [
        ["40c7e867.2e2318"]
    ]
}, {
    "id": "7c818bec.138224",
    "type": "inject",
    "z": "b4d630f9.4ad6c",
    "name": "Turn On Continuous",
    "topic": "",
    "payload": ",",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 240,
    "wires": [
        ["f437c71d.140b38", "cfa1e270.76dad"]
    ]
}, {
    "id": "b1451e4.81191e",
    "type": "inject",
    "z": "b4d630f9.4ad6c",
    "name": "Turn Off Continuous",
    "topic": "",
    "payload": ".",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190,
    "y": 280,
    "wires": [
        ["f437c71d.140b38", "15f07a1f.b66506"]
    ]
}, {
    "id": "cfd2c3cb.5591b",
    "type": "comment",
    "z": "b4d630f9.4ad6c",
    "name": "Continuous Mode Setup",
    "info": "",
    "x": 190,
    "y": 200,
    "wires": []
}, {
    "id": "988dbf48.7b2a6",
    "type": "switch",
    "z": "b4d630f9.4ad6c",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{
        "t": "neq",
        "v": "-1",
        "vt": "str"
    }],
    "checkall": "true",
    "outputs": 1,
    "x": 530,
    "y": 80,
    "wires": [
        ["f437c71d.140b38"]
    ]
}, {
    "id": "f022b57c.a75308",
    "type": "launchpad",
    "z": "",
    "name": "",
    "port": "0",
    "initanim": false
}, {
    "id": "704ca14f.103cb",
    "type": "serial-port",
    "z": "",
    "serialport": "/dev/cu.usbserial-AH05SKTW",
    "serialbaud": "9600",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": false
}]